.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .img {
    animation: App-logo-spin infinite 22s linear;
  }
}

@font-face {
  font-family: GrooveGeneratorFont;
  src: url(./fonts/Direction.ttf);
}

#video {
  position: fixed;
  opacity:20%;
  width:250%;
}

.img {
  /* background-image: linear-gradient(rgb(139, 15, 77), rgb(8, 8, 54)); */
  background-image: url("https://i.pinimg.com/originals/b7/63/10/b7631020e432e19cdd0d9996a1f51bfd.png");
  min-height: 135vh; 
  min-width: 100%;

  position:relative;
  /* display:inline;  */
  opacity: 30%;
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  height:70%;
  width:80%; 
  transform: scale(0.6);
  margin-left: calc(135vmax - 65vmin);
  margin-top:46vmin;
  /* object-fit:scale-down; */
}

.header {
  background-image: linear-gradient(rgb(139, 15, 77), rgb(8, 8, 54));
  /* background-image: url("https://i.pinimg.com/originals/b7/63/10/b7631020e432e19cdd0d9996a1f51bfd.png"); */
  max-height: 100vh;
  display: flex;
  /* flex-direction:inherit; */
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  overflow: hidden;
  /* object-fit: cover;  */
  width:100%;
}



.mainContainer{
  width: calc(60vw - 10vmin);
  height: 90vh;
  
  background-image: url("https://www.seekpng.com/png/full/11-110784_scratch-texture-png-black-and-white.png"), 
          linear-gradient(rgb(194, 143, 33), rgb(122, 36, 25));
  background-size: cover;
  min-height: 10vh;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  border-radius: 2vmin;
  border: 1px solid #2e0505;
  -webkit-box-shadow: 0 0 5px 2px rgb(132, 226, 255);
  -moz-box-shadow: 0 0 5px 2px rgb(240, 245, 197);
  box-shadow: 0 0 0 2px rgba(255, 240, 141, 0.822),
              0 0 20px 2px rgba(0, 0, 0, 0.315),
        inset 0 0 20px rgba(44, 0, 85, 0.363),
        inset 0 0.3vmin 0.9vmin 0.5vmin rgba(248, 219, 176, 0.397),
        inset 0 -10px 1vmin 0.5px rgba(47, 7, 59, 0.295);     
}



.titolo{
  width: 45%;
  height: 8%;
  max-height: 7vh;

  border-radius: 3vmin;

  background-image: linear-gradient(#5a178065, #2a083d80);
  
  -webkit-box-shadow: 0 0 5px 2px rgb(0, 5, 7);
  -moz-box-shadow: 0 0 5px 2px rgb(0, 0, 0);
  box-shadow: 0 0 0 0px     rgba(0, 0, 0, 0.705),
              0 0 20px 1px  rgba(0, 0, 0, 0.445),
              inset 0 -0.1vmin 0.1vmin 0.1vmin rgba(39, 9, 48, 0.699),
              inset 0 0.5vmin 1vmin 0.2vmin rgba(253, 231, 199, 0.116),
              inset 0 -10px 1vmin 0.01px rgba(46, 23, 53, 0.295),
              inset 0 0 5px       rgba(224, 218, 158, 0.562);
  
  top: 2.5vh;
  
  padding:2vh;
  padding-bottom: 0.8vh;
  padding-top: 0.8vh;

  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  font-size: calc(45% + 2vw);
  text-align: center;
  font-family: GrooveGeneratorFont;
  color: #eceba7;
  letter-spacing: 0.2vmin;
  text-shadow: 0 0.1vmin 0.9vmin rgba(34, 1, 41, 0.938);
  
  
}





.sliders{
  width: 95%;
  height: 21.5vh;
  background-color: #8464ad8a;
  min-height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  position: absolute;
  top: 13vh;
  border-radius: 2vmin;

  box-shadow: 
    0 0 10px 1vmin rgba(69, 65, 129, 0.055),
    0 0.1vmin 0.1vmin 0.2vmin rgba(42, 7, 53, 0.377),
    inset 0 10px 10px 2px rgba(253, 231, 199, 0.116),
    inset 0 -10px 1vmin 0.01px rgba(46, 23, 53, 0.295);

}

.rightside{

  background-color: transparent;
  border-radius: 2vmin;

  width:66%;
  height:75%;
  
  display: flex;
  flex-direction: column;

  align-items: right;
  justify-content: right;

  padding: 1.5vmin;
  padding-left:0.5vmin;
  

  margin-left:0.9vmin;
  
  margin-right:2vmin;
  
  overflow: hidden;
}

.sounds{
  width: 95%;
  height: 47vh;
  background-color: #684a8f8a;
   
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);

  overflow: hidden;
  
  position: absolute;
  top: 36vh;
  padding-top:3vh;
  border-radius: 2vmin;
  box-shadow: 
    0 0 10px 1vmin rgba(69, 65, 129, 0.055),
    0 0.1vmin 0.1vmin 0.2vmin rgba(42, 7, 53, 0.377),
    inset 0 10px 10px 2px rgba(253, 231, 199, 0.116),
    inset 0 -10px 1vmin 0.01px rgba(46, 23, 53, 0.295);

}

.Buttons{
  
  width:70%;
  height:30%;

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  
  
}

.app_footer{
  position:absolute;
  margin-top:81vmin;
  width:93%;
  max-height: 1vmin;
  background-color: transparent;
  font-size: 1.5vmin;
  display:flex;
  flex-direction: row;
  color: #d1ca8e92;
}

.link{
  color: rgba(239, 202, 129, 0.788);
}

.lowleft{
  position:absolute;
  left:0;
}

.lowright{
  position:absolute;
  right:0;
}
