.dropdown {
    position: relative;
    display: inline-block;
  }

@font-face {
    font-family: titlePanelFont2;
    src: url(../fonts/WinkleRegular.ttf);
}

.measureContainer {
    background-color:#68dcff5e;
    border-radius: 3vmin;
        
    
    height: 61%;
    width: 12%;
    min-width:15%;


    padding:2vmin;
    padding-top:2.1vmin;
    padding-bottom:5vmin;

    display:flex;
    flex-direction: column;
    align-items: center;

    


}

.titleMeasure{
    font-family: titlePanelFont2;
    font-size: calc(20% + 2.5vmin);
    color:#d6e9ff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.568);
    padding:0.5vmin;
    padding-bottom:3vmin;
  }

.dropbtn {
    background-color: #6012a0;
    color: rgb(134, 23, 23);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #974747;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(130, 190, 60);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #7a2828}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}