@font-face {
  font-family: metronomeFont;
  src: url(../fonts/BabyDoll.ttf);
}

@font-face {
  font-family: titlePanelFont;
  src: url(../fonts/WinkleRegular.ttf);
}

.titleMetronome{
  font-family: titlePanelFont;
  font-size: calc(28% + 2.5vmin);
  color:#d6e9ff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.568);
  padding:0.5vmin;
}

.metronome {
    text-align: center;
    
    max-height: 75%;
    width:25%;
    min-width:20%;
    padding: 1.8vmin;
    padding-bottom:2vmin;
    background-color: #68dcff5e;
    border-radius: 3vmin;
    margin:0.5vmin;
    font-size: 50%;
  }

  .bub{
    padding:0.6vmin;
    font-family: metronomeFont;
    font-size: 2vmin;
    color:#c9def5;
    text-shadow: 0 0 5vmin rgba(24, 1, 37, 0.514);
  }
  
  .bpm-slider input {
    width: 90%;
    position:relative;
    
  }

  .buble{
    position:absolute;
    align-items: center;
    font-size: 50%;
  }
  
  .metronomeButtons{
    width: 130%;
    min-width: 200px;
    align-items: center;
    position: relative;
    left: -15%;

  }
  .metronome button {
    background: #9b0074;
    
    border: 1 solid #40b9ff;
    border-radius: 1vmin;
    font-family: metronomeFont;
    width: 40%;
    min-width: 6vmin;
    height: 5vmin;
    color: #a6cfff;
    font-size: 2vmin;
    text-align: center; 
    margin:0.5vmin;
    margin-bottom: 0.1vmin;
    
  }

