.metronome {
    text-align: center;
    align-items: center;
    width: 85%;
    max-width: 80%;
    max-height: 40px;
    position: relative;
    top: -25%;
    margin: 0;
    padding: 0px;
  }
  
  .bpm-slider input {
    width: 20%;
    margin: 3px;
  }
  
  .metronomeButtons{
    width: 130%;
    min-width: 200px;
    align-items: center;
    position: relative;
    left: -15%;

  }
  .metronome button {
    background: #081e68;
    padding: 1px;
    border: 1px solid #16023b;
    border-radius: 5px;
    width: 34%;
    color: #fff;
    font-size: 65%;
    margin:20px;
  }

  .inputBpm{
    height: 5%;
    width:15%;
    background-color: #3ea9c7;
    border-color: #1e768f; 
    border-radius: 4px;


  }

  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}