
.active{
    background-color: rgba(85, 7, 76, 0.793);
    
    
}

.not-active{
    background-color: #d6d09d3c;


}

.active:hover{
    transform: scale(1);
    background-color: rgba(66, 0, 63, 0.792);
}

.not-active:hover{
    transform: scale(1);
    background-color: rgba(162, 60, 109, 0.567);
}

