.container{
    background-color: rgba(246, 199, 255, 0.178);

    width:92%;
    height: 10%;

    border-radius: 1.7vmin;

    padding:2vmin;
    
    margin:0.3vmin;

    box-shadow: 
    0 0 10px 1vmin rgba(69, 65, 129, 0.055),
    0 0.1vmin 0.1vmin 0.1vmin rgba(42, 7, 53, 0.377),
    inset 0 0.5vmin 1vmin 0.5vmin rgba(253, 231, 199, 0.116),
    inset 0 -10px 1vmin 0.01px rgba(46, 23, 53, 0.295);  
    
    

}

.panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

    width: 22vmin;
    height: 4vmin;

    padding-top:1vmin;
    padding-bottom:1vmin;

    margin-top: -1vmin;
    margin-right: -1vmin;

}

.texto{
    color: #d6d09db9;

    font-size: calc(0.7vmin + 0.3vmax);
    letter-spacing: 0.1vmin;

    font-family:titlePanelFont;

    text-justify: center;

    margin-top: 0.5vmin;
    margin-bottom: -0.2vmin;
    margin-right:0vmin;
    
    text-shadow: 0 0 2vmin rgba(27, 2, 39, 0.377);
                    
}

.barra{
    color: #d6d09d67;
    font-size: 2vmin;

    margin-top:-1.5vmin;
    margin-bottom:2vmin;
}


.Controls{
    margin-top: -1.5vmin;
    margin-left:-0.3vmin;
    margin-bottom: -1.2vmin;
}