.container{
    background-color: rgba(246, 199, 255, 0.178);

    width:92%;
    height: 10%;

    border-radius: 1.7vmin;

    padding:2vmin;
    
    margin:0.3vmin;

    box-shadow: 
    0 0 10px 1vmin rgba(69, 65, 129, 0.055),
    0 0.1vmin 0.1vmin 0.1vmin rgba(42, 7, 53, 0.377),
    inset 0 0.5vmin 1vmin 0.5vmin rgba(253, 231, 199, 0.116),
    inset 0 -10px 1vmin 0.01px rgba(46, 23, 53, 0.295);  
    
    display: flex;
    flex-direction:row;

}

.panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    background-color:rgba(255, 255, 255, 0);

    width: calc(12.1vmax + 1.7vmin);
    height: 4vmin;

    padding-top:1vmin;
    padding-bottom:1vmin;

    margin-top: -1vmin;
    margin-left: -0.5vmin;

}

.texto{
    color: #d6d09db9;

    font-size: calc(0.7vmin + 0.3vmax);
    letter-spacing: 0.1vmin;

    

    font-family:titlePanelFont;

    text-justify: center;

    

    margin-top:1.6vmin;
    
    text-shadow: 0 0 2vmin rgba(27, 2, 39, 0.377);
                    
}

.barra{
    color: #d6d09d00;
    font-size: calc(0.5vmax + 1vmin);
    
    background-color: #d6d09d55;
    width:calc(5vmin + 9vmax); 
    height:0.1vmin;

   
    margin-left:0.1vmax;
    margin-top:0.5vmin;

   
}


.Controls{
    
    margin-top:0.7vmin;
    margin-bottom:0.5vmin;
    
}

.gridContainer{
    position: relative;
    vertical-align:middle;
    
    /* justify-content: center;
    align-items: center;
    justify-items: center; */

    /* overflow: hidden; */
    /* grid-auto-flow:dense; */

    display: grid;
    grid-template-columns: repeat(auto-fit, 2.5vmin);
    /* display:flex; */
    /*flex-direction:row; */
    margin-left: 2vmax;
    
    padding: 1vmin;

    background-color: rgba(253, 221, 225, 0.099);
    border-radius: 2vmin;
    height:5.9vmin;
    width: calc(67vmax - 47vmin);
    
    margin-top:-1.7vmin;

    box-shadow: inset 0 5vmin 10vmin 2vmin rgba(143, 191, 219, 0.253);
    box-shadow: 
    inset 0 0.5vmin 1vmin 0.2vmin rgba(253, 231, 199, 0.041),
    inset 0 -10px 1vmin 0.01px rgba(46, 23, 53, 0.084),
    inset 0 0 0.5vmin       rgba(224, 218, 158, 0.241);
    
    
}

.gridContainer button{
    /* border: 1 #d6d09d;  */
    border: 0.1vmin solid rgba(241, 229, 172, 0);
    border-radius: 1vmin; 

    
    
    transform: scale(0.7);

    width: 1.3vw;
    
    height: 1.8vh;
    margin:-0.2vmin;

    
    box-shadow: inset 0 5vmin 10vmin 2vmin rgba(143, 191, 219, 0.645);
    box-shadow: 
    inset 0 0.5vmin 1vmin 0.2vmin rgba(253, 231, 199, 0.041),
    inset 0 -10px 1vmin 0.01px rgba(223, 206, 105, 0.226);
    /* inset 0 0 0.5vmin       rgba(224, 218, 158, 0.493); */
    
    
} 

